.vs/FatimaChurchSolution/v17/DocumentLayout.json
.vs/FatimaChurchSolution/v17/DocumentLayout.backup.json
.vs/FatimaChurchSolution/v17/.suo
.vs/FatimaChurchSolution/FileContentIndex/d5c2906b-a3d2-403b-8058-1e32dd71a8a9.vsidx
.vs/FatimaChurchSolution/FileContentIndex/d38b724e-a1ba-443f-8f37-184788a47537.vsidx
.vs/FatimaChurchSolution/FileContentIndex/cf1872a3-276e-44b1-bb3e-c5365ac9bbfc.vsidx
.vs/FatimaChurchSolution/FileContentIndex/9ca52598-c5ba-4b62-8e10-08b893988ebd.vsidx
.vs/FatimaChurchSolution/FileContentIndex/98e75013-05c5-42f2-be37-40c307adf353.vsidx
.vs/FatimaChurchSolution/FileContentIndex/85877297-00a2-460d-b6f1-cacbb3530ad0.vsidx
.vs/FatimaChurchSolution/FileContentIndex/7bb47d03-d85e-438d-b964-a12b11f423a3.vsidx
.vs/FatimaChurchSolution/CopilotIndices/17.14.878.3237/SemanticSymbols.db
.vs/FatimaChurchSolution/CopilotIndices/17.14.878.3237/CodeChunks.db
.vs/FatimaChurchSolution/copilot-chat/5a8e247a/sessions/505d6be7-70c2-4913-b095-fb1b5fb65d52
.vs/FatimaChurchSolution/copilot-chat/5a8e247a/sessions/1bc7dc4b-4b49-4148-ad6f-0bc6ec353599
.vs/FatimaChurchForms.csproj.dtbcache.json
bin/Debug/delete.png
bin/Debug/FatimaChurch.exe
bin/Debug/FatimaChurch.exe.config
bin/Debug/FatimaChurch.pdb
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/FatimaChurch.exe
obj/Debug/FatimaChurch.pdb
obj/Debug/FatimaChurchForms.csproj.AssemblyReference.cache
obj/Debug/FatimaChurchForms.csproj.CoreCompileInputs.cache
obj/Debug/FatimaChurchForms.csproj.FileListAbsolute.txt
obj/Debug/FatimaChurchForms.csproj.GenerateResource.cache
obj/Debug/TestFat.AnbiyamPopup.resources
obj/Debug/TestFat.Cemetery.resources
obj/Debug/TestFat.FamilyPopup.resources
obj/Debug/TestFat.Form1.resources
obj/Debug/TestFat.LoginForm.resources
obj/Debug/TestFat.NonParishFamily.resources
obj/Debug/TestFat.Properties.Resources.resources
